<h1>Factory Assets for "<%=search%>" : <%=resultCount%></h1>

<div>
<table>
	<thead>
		<tr>
			<th>Index</th>
			<th>Asset Name</th>
			<th>Asset Id</th>
			<th>Is Public</th>
			<th>Status</th>
			<th>Author</th>
		</tr>
	</thead>
	
	<tbody>
		<%for (var i=0; i<results.length; i++) {%>
			<tr>
				<td style="text-align:center;"><%=i + 1%></td>
				<td ><%= results[i].title %></td>
				<td><%= results[i].searchResultId.id %></td>
				<td style="text-align:center;"><%= results[i].retrievedFields['adsk.factory.isPublic'].values[0].value %></td>
				<td><%= results[i].retrievedFields['adsk.factory.status'].values[0].value %></td>
				<%
				var author = results[i].retrievedFields['adsk.factory.author'] 
				if (author){%>
				<td style="text-align:center;"> <%=author.values[0].value%></td>
				<%}
				else{%>
				<td></td>
				<%}%>
			</tr>
		<%}%>
	</tbody>
</table>
</div>
